

.selfService-Header {
  background-color: #7c2bb3;
  color: white;
  padding: 12px;
  float: left;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
}

.subHeader {
  background-color: white;
  color: #7c2bb3;
  padding: 12px;
  float: left;
  border-radius: 4px;
  width: 100%;
  border-color: #7c2bb3;
}

.headContainer {
  float: left;
  display: flex;
  background-color: #7c2bb3;
  width: 100%;
}

.loginBox {
  background-color: #7c2bb3;
  color: white;
  width: auto;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}



