

.selfService-Header {
  background-color: #7c2bb3;
  color: white;
  padding: 6px;
  float: left;
  font-size: calc(13px + 2vmin);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 13vmin;
  min-height: 10vmin;
}

.subHeader {
  background-color: white;
  color: #7c2bb3;
  padding: 5px;
  float: left;
  border-radius: 10px;
  width: 100%;
  border-color: #7c2bb3;
}

.cornell-logo {
  height: 4vmin;
  pointer-events: none;
}

.headContainer {
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #7c2bb3;
  width: 100%;
  max-width: 100%;
}

.loginBox {
  color: black;
  display: block;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  max-height: 100%;
  
}

.loginBack {
  background-color: #d1cece;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top:13.6vmin;
  left:0vmin;
  right: 0vmin;
  bottom:0vmin;
  max-width: 100%;
  max-height: 100%;
  min-height:10vmin;
}

.textField {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}



